# Ignore git objects
.git/
.gitignore
.gitlab-ci.yml
.gitmodules

# Ignore temperory volumes
RAG/examples/**/volumes

# creating a docker image
.dockerignore

# Ignore any virtual environment configuration files
.env*
.venv/
env/
# Ignore python bytecode files
*.pyc
__pycache__/
