# Python Exclusions
.venv
**__pycache__**

# Helm Exclusions
**/helm-charts/*.tgz

# Docker Compose exclusions
RAG/examples/**/volumes
uploaded_files/


# Mac OS exclusions
.DS_Store

# Visual Studio Code
.vscode

# Node modules
**/node_modules

# File from docs builds
docs/_*
docs/notebooks
docs/experimental
docs/tools

# Developing examples
RAG/examples/simple_rag_api_catalog/
RAG/examples/simple-rag-api-catalog.yaml

# Notebook checkpoints
RAG/notebooks/langchain/.ipynb_checkpoints
RAG/notebooks/langchain/data/nv_embedding
RAG/notebooks/langchain/data/save_embedding

# IntelliJ's project specific settings file
.idea

# Environment variables
.env

# egg-info directories
**/egg-info

# uv exclusion
uv.lock

# data designer exclusion
data-designer-tutorial-output/
