# temp files of examples
model-cache/
notebooks/dataset/
notebooks/toy_data/nv_embedding/
notebooks/toy_data/jordan.png
notebooks/embed

# Python Exclusions
.venv
**__pycache__**

# Helm Exclusions
**/charts/*.tgz

# project temp files
deploy/*.log
deploy/*.txt

# Docker Compose exclusions
volumes/
uploaded_files/

# Visual Studio Code
.vscode

# Node modules
**/node_modules

# File from docs builds
docs/_*
docs/notebooks
docs/experimental
docs/tools

# Developing examples
RetrievalAugmentedGeneration/examples/simple_rag_api_catalog/
deploy/compose/simple-rag-api-catalog.yaml
