dataclass_wizard==0.22.2
gradio==4.19.2
jinja2==3.1.2
numpy==1.25.2
protobuf==3.20.3
PyYAML==6.0
tritonclient[all]==2.36.0
uvicorn==0.22.0
opentelemetry-sdk==1.21.0
opentelemetry-api==1.21.0
opentelemetry-exporter-otlp-proto-grpc==1.21.0
pycountry==23.12.11
