fastapi
uvicorn[standard]
python-multipart
langchain
unstructured[all-docs]
sentence-transformers
llama-index
pymilvus
dataclass-wizard
opencv-python
minio
asyncpg
psycopg2-binary
pgvector
langchain-core
langchain-nvidia-ai-endpoints
langchain-nvidia-trt
nemollm
opentelemetry-sdk
opentelemetry-api
opentelemetry-exporter-otlp-proto-grpc
faiss-cpu
