colorama==0.4.4
colorlog==6.9.0
gitlab==1.0.2
gpudb==7.2.2.7
ipython==8.12.3
langchain_core==0.3.56
langchain_nvidia_ai_endpoints==0.3.9
langgraph==0.3.34
matplotlib==3.10.1
numpy==1.23
pandas==2.2.3
paramiko==3.5.1
pexpect==4.9.0
pymysql==1.1.1
pyroute2==0.9.1
pyserial==3.5
pyshark==0.6
python-dotenv==1.1.0
PyYAML==6.0.2
streamlit==1.44.1
watchdog==6.0.0
english-words==2.0.1
tqdm==4.66.5
typeguard==4.2.1