fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6
langchain==0.1.9
unstructured[all-docs]==0.11.2
sentence-transformers==2.2.2
llama-index==0.9.22
dataclass-wizard==0.22.2
opencv-python==4.8.0.74
llama-hub==0.0.43
pymilvus==2.3.1
jupyterlab==4.0.8
langchain-nvidia-trt==0.0.1rc0
langchain-core==0.1.29
langchain-nvidia-ai-endpoints==0.0.11
atlassian-python-api==3.41.4
gradio==3.48.0
markdownify==0.12.1
