numpy
scipy
scikit-learn
torch
pykeen
fairscale
fire
sentencepiece
jupyterlab
networkx
nx_arangodb
cugraph-cu12
nx_cugraph-cu12
arango
pymilvus
llama-index
langchain
langchain_community
langchain_core
langchain_nvidia_ai_endpoints
transformers
yfinance
asyncio
argparse
pandas
nest_asyncio
openai
langchain-community
ragas
datasets
tqdm
requests