/* Base styles for all chat messages */
.message_base {
    font-family: 'Lato';
    margin: 20px 30px;
    position: relative;
    display: inline-block;
    padding: 20px;
    border-radius: 20px;
    max-width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
}

/* Specific styles for different types of messages */
.assistant_message { background-color: #ff462b; }
.assistant_info_message { background-color: #969595; }
.assistant_right_message { background-color: #039a08; }
.assistant_wrong_message { background-color: #e10000; }
.user_message {
    background-color: #218aff;
    float: right;
    margin-left: 20%;
    margin-right: 30px;
}

/* Styles for the chat container */
.card_chat {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
}

/* Style for the hr */
hr {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
    border: 1.5px solid #b5b5b5;
    border-radius: 7px;
    background-color: #b5b5b5;
}
