fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6
unstructured[all-docs]==0.11.2
sentence-transformers==2.2.2
llama-index==0.9.22
pymilvus==2.3.5
dataclass-wizard==0.22.2
opencv-python==4.8.0.74
minio==7.2.0
asyncpg==0.29.0
psycopg2-binary==2.9.9
pgvector==0.2.4
langchain==0.1.14
langchain-core==0.1.40
langchain-nvidia-ai-endpoints==0.0.12
langchain-nvidia-trt==0.0.1rc0
nemollm==0.3.4
opentelemetry-sdk==1.21.0
opentelemetry-api==1.21.0
opentelemetry-exporter-otlp-proto-grpc==1.21.0