; NVIDIA npm package repos
@kui-react:registry=https://urm.nvidia.com/artifactory/api/npm/sw-ngc-cloud-npm-local
@kui-shared:registry=https://urm.nvidia.com/artifactory/api/npm/sw-ngc-cloud-npm-local
@nv-brand-assets:registry=https://urm.nvidia.com/artifactory/api/npm/sw-nvpubcloud-npm-local
