@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nv-green: #76b900;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

@keyframes typing {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}

.typing-dots::after {
  content: "";
  display: inline-block;
  animation: typing 1.5s infinite;
}
