fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6
langchain==0.0.330
tritonclient[all]==2.39.0
unstructured[all-docs]==0.11.2
sentence-transformers==2.2.2
llama-index==0.9.13
pymilvus==2.3.1
dataclass-wizard==0.22.2
opencv-python==4.8.0.74
minio==7.2.0