langchain
langsmith
langchain-cli
langchain-core
langchain-openai
langchain-nvidia-ai-endpoints
langchain-community
langgraph
langgraph-cli
langgraph-sdk
langserve
bs4
openai
pymongo
gradio
pillow
weasyprint
pdf2image
httpx==0.27.2